<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" id="viewport" content="width=device-width, height=device-height, user-scalable=no" />
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/materialsidebar.min.js"></script>
  <script src="/javascripts/webslider.js"></script>
  <link rel="stylesheet" href="stylesheets/frame.css">
  <link rel="stylesheet" href="stylesheets/schoolfood.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick-theme.css">
  <script type="text/javascript" src="javascripts/slick/slick.min.js"></script>
  <script>
  $(document).ready(function() {
    $(".slider").slick({
            centerpadding:true,
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
    customPaging : function(slider, i) {
        var title = $(slider.$slides[i]).data('title');
        return '<a class="pager_item"> '+title+' </a>';
    },
});
  })
  </script>

  <SCRIPT LANGUAGE="JavaScript">
  <!--
  function startCateScrollScroll(target) {
        setTimeout("slideCateScroll('"+target+"')", 10);
  }
  function slideCateScroll(target) {
      var Sel_Height=350;
          el = document.getElementById(target);
      if (el.heightPos == null || (el.isDone && el.isOn == false)) {
          el.isDone = false;
          el.heightPos = 1;
          el.heightTo = Sel_Height;
      } else if (el.isDone && el.isOn){
          el.isDone = false;
          el.heightTo = 1;
      }
      if (Math.abs(el.heightTo - el.heightPos) > 1) {
          el.heightPos += (el.heightTo - el.heightPos) / 10;
          el.style.height = el.heightPos + "px";
          startCateScrollScroll(target);
      } else {
      if (el.heightTo == Sel_Height) {
          el.isOn = true;
      } else {
          el.isOn = false;
      }
          el.heightPos = el.heightTo;
          // el.style.height = el.heightPos + "px";
          el.isDone = true;
      }
  }


  //-->
  </SCRIPT>
  <title>Slick test</title>
  </head>
  <body>

    <!-- Toolbar -->
      <div class="top-bar">
        <div id="open-sb">
        <img src="img/menu_button.png" alt="menu-button" align="left">
      </div>
        <div class="menu-name">
          제대로 가자
        </div>
      </div>

    <!-- Slidebar -->
    <section class="sidebar">
      <div class="menu-slide" align="left">
        <ul>
         <a href="/"><li class="home">홈</li></a>
         <a href="#"><li class="bus">순환버스</li></a>
         <a href="schedule"><li class="schedule">학사일정</li></a>
         <a href="food_sort"><li class="food">뭐먹을까</li></a>
         <a href="#"><li class="library">중도좌석</li></a>
         <a href="#"><li class="book">도서검색</li></a>
        </ul>
       </div>
     </section>

     <!-- Toolbar End -->
     <div class ="wrapper">
    <div class="menu">
      <h1>학식메뉴</h1>
    </div>
    <div href=# onclick="slideCateScroll('scroll-list')" style="background-color:999999;width:100%;padding:10;color:black;font-size:1.5em;font-weight:bold;"><center><B>시간표</B></center></div>

    <div id="scroll-list" class="scroll-list">

      <center><table>
        <tr>
          <td></td>
          <td>식사제공시간</td>
          <td></td>
        </tr>
        <tr>
          <td>정식</td>
          <td>10:00 ~ 15:00</td>
          <td>2,700원</td>
        </tr>
        <tr>
          <td>특식</td>
          <td>11:00 ~ 14:30</td>
          <td>4,000원</td>
        </tr>
        <tr>
          <td>파스타</td>
          <td>11:00 ~ 17:00</td>
          <td>6,000원</td>
        </tr>
        <tr>
          <td>스파게티</td>
          <td>11:00 ~ 17:00</td>
          <td>5,000원</td>
        </tr>
        <tr>
          <td>돈가스</td>
          <td>11:00 ~ 14:00</td>
          <td>3,000원</td>
        </tr>
        <tr>
          <td>중식</td>
          <td>11:00 ~ 14:00</td>
          <td>2,000원</td>
        </tr>
        <tr>
          <td>라면</td>
          <td>08:30 ~ 18:30 <br> (11:00~16:00-라면 판매 안함)</td>
          <td>1,200원</td>
        </tr>
        <tr>
          <td>공기밥</td>
          <td>08:30 ~ 18:30</td>
          <td>500원</td>
        </tr>
        <tr>
          <td>석식</td>
          <td>16:00 ~ 18:30</td>
          <td>2,700원</td>
        </tr>
      </table>
</div>

    <section class="slider">

      <div data-title="월">
    <ul>
      <li class="menu-sort">정식</li>
      <li class="menu-cont"><%=baekdu1_1%></li>
      <li class="menu-sort">특식</li>
      <li class="menu-cont"><%=baekdu1_3%></li>
      <li class="menu-sort">양식</li>
      <li class="menu-cont"><%=baekdu1_5%></li>
      <li class="menu-sort">중식</li>
      <li class="menu-cont"><%=baekdu1_4%></li>
    </ul>
  </div>
  <div data-title="화">
<ul>
  <li class="menu-sort">정식</li>
  <li class="menu-cont"><%=baekdu2_1%></li>
  <li class="menu-sort">특식</li>
  <li class="menu-cont"><%=baekdu2_3%></li>
  <li class="menu-sort">양식</li>
  <li class="menu-cont"><%=baekdu2_5%></li>
  <li class="menu-sort">중식</li>
  <li class="menu-cont"><%=baekdu2_4%></li>
</ul>
</div>
<div data-title="수">
<ul>
<li class="menu-sort">정식</li>
<li class="menu-cont"><%=baekdu3_1%></li>
<li class="menu-sort">특식</li>
<li class="menu-cont"><%=baekdu3_3%></li>
<li class="menu-sort">양식</li>
<li class="menu-cont"><%=baekdu3_5%></li>
<li class="menu-sort">중식</li>
<li class="menu-cont"><%=baekdu3_4%></li>
</ul>
</div>
<div data-title="목">
<ul>
<li class="menu-sort">정식</li>
<li class="menu-cont"><%=baekdu4_1%></li>
<li class="menu-sort">특식</li>
<li class="menu-cont"><%=baekdu4_3%></li>
<li class="menu-sort">양식</li>
<li class="menu-cont"><%=baekdu4_5%></li>
<li class="menu-sort">중식</li>
<li class="menu-cont"><%=baekdu4_4%></li>
</ul>
</div>
<div data-title="금">
<ul>
  <li class="menu-sort">정식</li>
  <li class="menu-cont"><%=baekdu5_1%></li>
  <li class="menu-sort">특식</li>
  <li class="menu-cont"><%=baekdu5_3%></li>
  <li class="menu-sort">양식</li>
  <li class="menu-cont"><%=baekdu5_5%></li>
  <li class="menu-sort">중식</li>
  <li class="menu-cont"><%=baekdu5_4%></li>
</ul>
</div>
</div>

    </section>

    </body>
    </html>
