<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset='euc-kr'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="white-space:pre-line">
    <h1><%= title %></h1>
    Welcome to <br>
    월 정식 점심 : <%= food0 %> <br>
    월 정식 저녁 : <%= food1 %> <br>
    월 특식 : <%= food2 %> <br>
    월 양식 : <%= food4 %> <p>

    화 정식 점심 : <%= food8 %> <br>
    화 정식 저녁 : <%= food9 %> <br>
    화 특식 : <%= food10 %> <br>
    화 양식 : <%= food10 %> <br>
  </body>
</html>
