<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="white-space:pre-line">
    <h1><%= title %></h1>
    Welcome to <br>
    월 조기 : <%= food6 %> <br>
    월 아침 : <%= food7 %> <br>
    월 점심 : <%= food8 %> <br>
    월 저녁 : <%= food9 %> <p>

    화 조기 : <%= food11 %> <br>
    화 아침 : <%= food12 %> <br>
    화 점심 : <%= food13 %> <br>
    화 저녁 : <%= food14 %> <br>
  </body>
</html>
