<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="white-space:pre-line">
    <h1><%= title %></h1>
    Welcome to <br>
    월 조기 : <%= dormitory1_1 %> <br>
    월 아침 : <%= dormitory1_2 %> <br>
    월 점심 : <%= dormitory1_3 %> <br>
    월 저녁 : <%= dormitory1_4 %> <p>

    화 조기 : <%= dormitory2_1 %> <br>
    화 아침 : <%= dormitory2_2 %> <br>
    화 점심 : <%= dormitory2_3 %> <br>
    화 저녁 : <%= dormitory2_4 %> <br>
  </body>
</html>
