<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/frame.css">
  <link rel="stylesheet" href="stylesheets/schoolfood.css">
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">
  <meta charset="utf-8">
  <title>Slick test</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick-theme.css">
  <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/slick/slick.min.js"></script>
  <script src="/javascripts/materialsidebar.min.js"></script>
  <script src="/javascripts/webslider.js"></script>
  <script>
  $(document).ready(function() {
    $(".slider").slick({
            centerpadding:true,
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
    customPaging : function(slider, i) {
        var title = $(slider.$slides[i]).data('title');
        return '<a class="pager_item"> '+title+' </a>';
    },
});
  })
  </script>

  <SCRIPT LANGUAGE="JavaScript">
  <!--
  function startCateScrollScroll(target) {
        setTimeout("slideCateScroll('"+target+"')", 10);
  }
  function slideCateScroll(target) {
      var Sel_Height=200;
          el = document.getElementById(target);
      if (el.heightPos == null || (el.isDone && el.isOn == false)) {
          el.isDone = false;
          el.heightPos = 1;
          el.heightTo = Sel_Height;
      } else if (el.isDone && el.isOn){
          el.isDone = false;
          el.heightTo = 1;
      }
      if (Math.abs(el.heightTo - el.heightPos) > 1) {
          el.heightPos += (el.heightTo - el.heightPos) / 10;
          el.style.height = el.heightPos + "px";
          startCateScrollScroll(target);
      } else {
      if (el.heightTo == Sel_Height) {
          el.isOn = true;
      } else {
          el.isOn = false;
      }
          el.heightPos = el.heightTo;
          // el.style.height = el.heightPos + "px";
          el.isDone = true;
      }
  }


  //-->
  </SCRIPT>

  </head>
  <body>

    <!-- Toolbar -->
      <div class="top-bar">
        <div id="open-sb">
        <img src="img/menu_button.png" alt="menu-button" align="left">
      </div>
        <div class="menu-name">
          제대로 가자
        </div>
      </div>

    <!-- Slidebar -->
    <section class="sidebar">
      <div class="menu-slide" align="left">
        <ul>
         <a href="/"><li class="home">홈</li></a>
         <a href="#"><li class="bus">순환버스</li></a>
         <a href="schedule"><li class="schedule">학사일정</li></a>
         <a href="food_sort"><li class="food">뭐먹을까</li></a>
         <a href="#"><li class="library">중도좌석</li></a>
         <a href="#"><li class="book">도서검색</li></a>
        </ul>
       </div>
     </section>

     <!-- Toolbar End -->

    <div class="menu">
      <h1>학생생활관<br>식당메뉴</h1>
    </div>
    <div href=# onclick="slideCateScroll('scroll-list')" style="background-color:999999;width:100%;padding:10;color:black;font-size:2em;"><center><B>시간표</B></center></div>

    <div id="scroll-list" class="scroll-list">

      <center><table>
        <tr>
          <td></td>
          <td>식사제공시간</td>
          <td></td>
        </tr>
        <tr>
          <td>조기</td>
          <td>07:00 ~ 07:30</td>
        </tr>
        <tr>
          <td>아침</td>
          <td>07:30 ~ 09:00</td>
        </tr>
        <tr>
          <td>점심</td>
          <td>12:30 ~ 13:00</td>
          </tr>
        <tr>
          <td>저녁</td>
          <td>17:00 ~ 19:15</td>
        </tr>
        <tr>
          <td>주말 저녁</td>
          <td>17:30 ~ 09:00</td>
        </tr>
      </table>
</div>

    <section class="slider">

      <div data-title="월">
    <ul>
      <li class="menu-sort">조기</li>
      <li class="menu-cont"><%= dormitory1_1 %></li>
      <li class="menu-sort">아침</li>
      <li class="menu-cont"><%= dormitory1_2 %></li>
      <li class="menu-sort">점심</li>
      <li class="menu-cont"><%= dormitory1_3 %></li>
      <li class="menu-sort">저녁</li>
      <li class="menu-cont"><%= dormitory1_4 %></li>
    </ul>
  </div>
  <div data-title="화">
    <ul>
      <li class="menu-sort">조기</li>
      <li class="menu-cont"><%= dormitory2_1 %></li>
      <li class="menu-sort">아침</li>
      <li class="menu-cont"><%= dormitory2_2 %></li>
      <li class="menu-sort">점심</li>
      <li class="menu-cont"><%= dormitory2_3 %></li>
      <li class="menu-sort">저녁</li>
      <li class="menu-cont"><%= dormitory2_4 %></li>
    </ul>
</div>  <div data-title="수">
  <ul>
    <li class="menu-sort">조기</li>
    <li class="menu-cont"><%= dormitory3_1 %></li>
    <li class="menu-sort">아침</li>
    <li class="menu-cont"><%= dormitory3_2 %></li>
    <li class="menu-sort">점심</li>
    <li class="menu-cont"><%= dormitory3_3 %></li>
    <li class="menu-sort">저녁</li>
    <li class="menu-cont"><%= dormitory3_4 %></li>
  </ul>
</div>  <div data-title="목">
  <ul>
    <li class="menu-sort">조기</li>
    <li class="menu-cont"><%= dormitory4_1 %></li>
    <li class="menu-sort">아침</li>
    <li class="menu-cont"><%= dormitory4_2 %></li>
    <li class="menu-sort">점심</li>
    <li class="menu-cont"><%= dormitory4_3 %></li>
    <li class="menu-sort">저녁</li>
    <li class="menu-cont"><%= dormitory4_4 %></li>
  </ul>
</div>  <div data-title="금">
  <ul>
    <li class="menu-sort">조기</li>
    <li class="menu-cont"><%= dormitory5_1 %></li>
    <li class="menu-sort">아침</li>
    <li class="menu-cont"><%= dormitory5_2 %></li>
    <li class="menu-sort">점심</li>
    <li class="menu-cont"><%= dormitory5_3 %></li>
    <li class="menu-sort">저녁</li>
    <li class="menu-cont"><%= dormitory5_4 %></li>
  </ul>
</div>  <div data-title="토">
  <ul>
    <li class="menu-sort">조기</li>
    <li class="menu-cont"><%= dormitory6_1 %></li>
    <li class="menu-sort">아침</li>
    <li class="menu-cont"><%= dormitory6_2 %></li>
    <li class="menu-sort">점심</li>
    <li class="menu-cont"><%= dormitory6_3 %></li>
    <li class="menu-sort">저녁</li>
    <li class="menu-cont"><%= dormitory6_4 %></li>
  </ul>
</div>
<div data-title="일">
  <ul>
    <li class="menu-sort">조기</li>
    <li class="menu-cont"><%= dormitory7_1 %></li>
    <li class="menu-sort">아침</li>
    <li class="menu-cont"><%= dormitory7_2 %></li>
    <li class="menu-sort">점심</li>
    <li class="menu-cont"><%= dormitory7_3 %></li>
    <li class="menu-sort">저녁</li>
    <li class="menu-cont"><%= dormitory7_4 %></li>
  </ul>
</div>

    </section>

    </body>
    </html>
