<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset='utf-8'>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <meta name="viewport" id="viewport" content="width=device-width, height=device-height, user-scalable=no" />
  <script src="/javascripts/materialsidebar.min.js"></script>
  <script src="/javascripts/webslider.js"></script>
  <link rel="stylesheet" href="stylesheets/frame.css">
  <link rel="stylesheet" href="stylesheets/haksa.css">
  <title>
    학사일정
  </title>
</head>
<body style="white-space:normal">

  <!-- Toolbar -->
    <div class="top-bar">
      <div id="open-sb">
      <img src="img/menu_button.png" alt="menu-button" align="left">
    </div>
      <div class="menu-name">
        제대로 가자
      </div>
    </div>

  <!-- Slidebar -->
  <section class="sidebar">
    <div class="menu-slide" align="left">
      <ul>
       <a href="/"><li class="home">홈</li></a>
       <a href="shuttlebus"><li class="bus">순환버스</li></a>
       <a href="haksa"><li class="schedule">학사일정</li></a>
       <a href="food_sort"><li class="food">뭐먹을까</li></a>
       <a href="libseat"><li class="library">중도좌석</li></a>
       <a href="libreform"><li class="book">도서검색</li></a>
      </ul>
     </div>
   </section>


  <div class="haksatitle">
  <%= title %>
  </div>

<%for(i = 0; i < month.length; i++){%>
      <button id="month<%=i%>btn">
        <%if(i<12){%>
        <%=i+1%>
      <%}else{%>
        2018년   <%=i-11%>
      <%}%>월
      </button>
      <ul class="haksa"id="month<%=i%>li">
        <% for (j = 0; j < (month[i].schedule.length / 2); j++) { %>
          <div class="haksaday">
            <%=month[i].schedule[2 * j].haksa %>
          </div>

          <div class="haksaschedule">
            <%=month[i].schedule[2 * j + 1].haksa %>

          </div>

          <% } %>

      </ul>
    <%}%>

  <script type="text/javascript">
<%for(a = 0; a < 15; a++){%>
    document.getElementById("month"+<%=a%>+"btn").onclick = function() {
      btn<%=a%>()
    };

    function btn<%=a%>() {
      document.getElementById("month"+<%=a%>+"li").classList.toggle("show");
    }
<%}%>
  </script>

</body>

</html>
