<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <title>바부</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
    .pagename{
        padding : 2%;
        font-size : 4rem;
    }
    .hr{
        border: 1px solid #b8b4b4;
    }
    .detail{
        background-color:#f0eaea;
        padding: 1% 8% 2% 1%;
        margin: 15% 20% 15% 1.1%;
        width: 90%;
        height :50%;
        font-size:18pt;

    }
    .detail-form{
        list-style-type:none;
    }
    .detail-form-typeresult,.detail-form-Signatureresult
    ,.detail-form-authorresult,.detail-form-volumeresult
    ,.detail-form-publish{
        border-bottom: 1px solid #b8b4b4;
    }
    .detail-form-type-result,.detail-form-Siganture-result
    ,.detail-form-author-result,.detail-form-volume-result
    ,.detail-form-pub-result
    {

        padding:1.5%;
        margin-left: 5%;

    }
    .detail-form-type,.detail-form-Signature,
    .detail-form-volume,.detail-form-author,.detail-form-pub{
        font-size:17pt;
        color:#7c7979;
    }
    .detail-form-type,.detail-form-volume{
        word-spacing : 2.4rem;
    }
    .detail-form-author,.detail-form-pub{
        word-spacing: 5.2rem;
    }
    .intestine-form-infomation{
        border-bottom: 0.07px solid;
        padding-bottom: 3%;
        padding-left: 5%;
    }

    .bundle{
        border:0.07px solid;

    }
    .cState{
        border-bottom:0.07px solid;
        padding-bottom: 3%;
        padding-left: 5%;
    }
    .intestine-form-infomation{
        font-size: 1.6rem;
    }
    .cState-name-result{
        font-size: 1.1rem;

    }
    th
    {
        font-size : 1.6rem;
        width:29.5%;

    }
    td{
        width: 29.5%;
       text-align:center;
        font-size: 1.5rem;
    }
</style>
<body>

<h2 class="pagename">상세정보</h2>
<hr class = "hr">
<div class="detail">
    <ul class="detail-form">
        <li class ="detail-form-typeresult">
            <label class="detail-form-type">자료 유형</label>
            <span class="detail-form-type-result"><%= detailjson.type %></span>
        </li>
        <li class ="detail-form-Signatureresult">
            <label class="detail-form-Signature">서명책임사항</label>
            <span class="detail-form-Siganture-result"><%=detailjson.title%>/<%=detailjson.author%></span>
        </li>

        <li class="detail-form-authorresult">
            <label class="detail-form-author">저 자</label>
            <span class="detail-form-author-result"><%=detailjson.author%></span>
        </li>
        <li class="detail-form-publish">
            <label class="detail-form-pub">출 판</label>
            <span class="detail-form-pub-result"><%= detailjson.publish%></span>
        </li>
        <li class="detail-form-volumeresult">
            <label class="detail-form-volume">청구 기호</label>
            <span class="detail-form-volume-result"><%=detailjson.branch.volume %></span>
        </li>
    </ul>

</div>
<div class="bundle">
        <h2 class="intestine-form-infomation">소장정보</h2>


    <div class="cState">
        <strong class="cState-name-result"><%= detailjson.branch.name %></strong>
    </div>

    <table class="cStateandresult">

        <thead class="cState-Bundle">
        <tr class="cState-name">
            <th class="number">등록번호</th>
            <th class="name">소장위치</th>
            <th class="volumes">청구기호</th>
            <th class="status">상태</th>
        </tr>
        </thead>
        <% for(var i=0; i<Bookjson.data[detailjson.branch.id].length; i++) { %>
        <tbody class="cState-result-Bundle">

        <tr class="cState-result">
            <td class="number-result"><%= Bookjson.data[detailjson.branch.id][i].barcode %></td>
            <td class="name-result"><%= Bookjson.data[detailjson.branch.id][i].location.name %></td>
            <td class="volumes-result"><%= Bookjson.data[detailjson.branch.id][i].callNo %></td>
            <td class="status-result"><%= Bookjson.data[detailjson.branch.id][i].circulationState.name %></td>
        </tr>
        <%}%>
    </tbody>

    </table>

</div>
</body>


