<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" id="viewport" content="width=device-width, height=device-height, user-scalable=no" />
    <meta charset='utf-8'>
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/materialsidebar.min.js"></script>
    <script src="/javascripts/webslider.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/frame.css'/>
    <script src="/javascripts/search.js"> </script>
</head>
<style>
    .search-form-input{
      margin-top: 2rem;
        text-align: center;

    }
    #search-keyword{
        border : 1px solid #436abc;
        width: 18rem;
        font-size : 15pt;
        padding: 0.3rem;
    }
    #search-submit{
        border: 0;
        padding: 0.3rem;
        width: 4rem;
        height: 34px;
        margin: 0.7rem;
        background-color : #436abc;
        color: #ffffff;

    }
    .result-list {

        border-bottom: 1px solid #b8b4b4;
        padding:1.5%;
        width : 60%;
    }

    .result-id{
        font-size: 15pt;
        color:#436abc;
    }
    .result-author{
        font-size :10pt;
    }
    .result-publication{
        font-size : 10pt;
    }
    .result-name{
        font-size: 11pt;
        color:#436abc;
    }
    .result-volume{
        font-size : 10pt;
    }
    .result-cState{
        font-size: 11pt;
        color:red;
    }
    .result-branchVolumes-no{
        color:red;
    }
</style>
<body>

  <!-- Toolbar -->
    <div class="top-bar">
      <div id="open-sb">
      <img src="img/menu_button.png" alt="menu-button" align="left">
    </div>
      <div class="menu-name">
        도서검색
      </div>
    </div>

  <!-- Slidebar -->
  <section class="sidebar">
    <div class="menu-slide" align="left">
      <ul>
       <a href="/"><li class="home">홈</li></a>
       <a href="shuttlebus"><li class="bus">순환버스</li></a>
       <a href="haksa"><li class="schedule">학사일정</li></a>
       <a href="food_sort"><li class="food">뭐먹을까</li></a>
       <a href="libseat"><li class="library">중도좌석</li></a>
       <a href="libreform"><li class="book">도서검색</li></a>
      </ul>
     </div>
   </section>

   <!-- Toolbar End -->

<form class="search-form" method='GET' id='search' action='/libsearch' >
    <div class="search-form-input" >
            <input name="keyword" id="search-keyword" placeholder="검색어를 입력하세요."required>
            <input type="submit" value="검색"id="search-submit" onclick="document.getElementById('search').submit()">
    </div>
</form>

<form method='GET' id='detail' action="/libdetail">
    <input type="hidden" name="id" id="libnumber">
<br>
<% if (success !== false) { %>
    <div id="result">
        <% for (var i = 0; i < data.list.length; i++) { %>
        <div class="result-list">
            <span class="result-id"><a href="/libdetail?id=<%= data.list[i].id %>&keyword=<%=dbjson.keyword %>" onclick="document.getElementById('id').value = <%= data.list[i].id %>; document.getElementById('detail').submit();"><%= data.list[i].titleStatement %></a></span><br>
            <span class="result-author"> <%= data.list[i].author %> </span><br>
            <span class="result-publication"> <%= data.list[i].publication %> </span><br>
            <% if (JSON.stringify(data.list[i].branchVolumes) === "[]") { %>
                <span class="result-branchVolumes-no" >대출가능상태판별불가 </span><br>
            <% } else { %>
            <span class="result-name"> <%= data.list[i].branchVolumes[0].name %> </span>
            <span class="result-volume">[ <%= data.list[i].branchVolumes[0].volume %> ]</span>
            <span class="result-cState"><%= data.list[i].branchVolumes[0].cState %></span>

            <% } %>
        </div>
        <br>
    <% } %>
<% } else { %>
    조회된 결과가 없습니다.
<% }%>
    </div>
</form>
</body>
</html>
