<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/search.js"> </script>
</head>
<body style="white-space:pre-line">
<h1><%= title %></h1>


<a href="http://localhost:3000/libserch?biblioType/732900">상세보기</a>

<form method='GET' id='search' action='/libsearch'>
    <input name="keyword" id="keystr" placeholder="검색어를 입력하세요.">
    <button onclick="document.getElementById('search').submit()">검색 이미지</button>
</form>

<form method='GET' id='detail' action="/libdetail">
    <input type="hidden" name="id" id="libnumber">

<% if (code !== "success.noRecord") { %>
    <table border="1">
        <% for (var i = 0; i < data.list.length; i ++) { %>
        <tr>
            <td>
                <a href="javascript:{}" onclick="document.getElementById('id').value = <%= data.list[i].id %>; document.getElementById('detail').submit();"><%= data.list[i].titleStatement %></a>
            </td>
            <td> <%= data.list[i].author %> </td>
            <td> <%= data.list[i].publication %> </td>
            <% if (JSON.stringify(data.list[i].branchVolumes) === "[]") { %>
            <td colspan="3">
            대출 가능 상태 판별 불가.
             </td>
            <% } else { %>
            <td><%= data.list[i].branchVolumes[0].cState %></td>
            <td> <%= data.list[i].branchVolumes[0].volume %> </td>
            <td> <%= data.list[i].branchVolumes[0].name %> </td>
            <% } %>
        </tr>
    <% } %>
    </table>
<% } else { %>
    조회된 결과가 없습니다.
<% }%>
</form>
</body>
</html>
