<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='euc-kr'>
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/materialsidebar.min.js"></script>
    <script src="/javascripts/webslider.js"></script>
    <link rel="stylesheet" href="stylesheets/frame.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="white-space:pre-line">

  <!-- Toolbar -->
    <div class="top-bar">
      <div id="open-sb">
      <img src="img/menu_button.png" alt="menu-button" align="left">
    </div>
      <div class="menu-name">
        중도좌석
      </div>
    </div>

  <!-- Slidebar -->
  <section class="sidebar">
    <div class="menu-slide" align="left">
      <ul>
       <a href="/"><li class="home">홈</li></a>
       <a href="#"><li class="bus">순환버스</li></a>
       <a href="schedule"><li class="schedule">학사일정</li></a>
       <a href="food_sort"><li class="food">뭐먹을까</li></a>
       <a href="#"><li class="library">중도좌석</li></a>
       <a href="#"><li class="book">도서검색</li></a>
      </ul>
     </div>
   </section>

   <!-- Toolbar End -->

<h1><%= title %></h1>
<table id="libSeat">
    <thead>
    <tr>
        <th class="time",colspan="5"> <%= table0_0 %> </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="number"><%= table1_0 %> </th>
        <th class="name"><%= table1_1 %> </th>
        <th class="allseat"><%= table1_2 %> </th>
        <th class="useseat"><%= table1_3 %> </th>
        <th class="residualseat"><%= table1_4 %> </th>
    </tr>
    <tr>
        <td class="num  1"><%= table2_0 %></td>
        <td class="name1"><%= table2_1 %></td>
        <td class="allseat1"><%= table2_2 %></td>
        <td class="useseat1"><%= table2_3 %></td>
        <td class="residualseat1"><%= table2_4 %></td>
    </tr>
    <tr>
        <td class="num3"><%= table3_0 %></td>
        <td class="name3"><%= table3_1 %></td>
        <td class="allseat3"><%= table3_2 %></td>
        <td class="useseat3"><%= table3_3 %></td>
        <td class="residualseat3"><%= table3_4 %></td>
    </tr>
    <tr>
        <td class="num4"><%= table4_0 %></td>
        <td class="name4"><%= table4_1 %></td>
        <td class="allseat4"><%= table4_2 %></td>
        <td class="useseat4"><%= table4_3 %></td>
        <td class="residualseat4"><%= table4_4 %></td>
    </tr>
    <tr>
        <td class="num5"><%= table5_0 %></td>
        <td class="name5"><%= table5_1 %></td>
        <td class="allseat5"><%= table5_2 %></td>
        <td class="useseat5"><%= table5_3 %></td>
        <td class="residualseat5"><%= table5_4 %></td>
    </tr>
    <tr>
        <td class="num6"><%= table6_0 %></td>
        <td class="name6"><%= table6_1 %></td>
        <td class="allseat6"><%= table6_2 %></td>
        <td class="useseat6"><%= table6_3 %></td>
        <td class="residualseat6"><%= table6_4 %></td>
    </tr>
    <tr>
        <td class="num7"><%= table7_0 %></td>
        <td class="name7"><%= table7_1 %></td>
        <td class="allseat7"><%= table7_2 %></td>
        <td class="useseat7"><%= table7_3 %></td>
        <td class="residualseat7"><%= table7_4 %></td>
    </tr>
    <tr>
        <td class="num8"><%= table8_0 %></td>
        <td class="name8"><%= table8_1 %></td>
        <td class="allseat8"><%= table8_2 %></td>
        <td class="useseat8"><%= table8_3 %></td>
        <td class="residualseat8"><%= table8_4 %></td>
    </tr>
    <tr>
        <td class="num9"><%= table9_0 %></td>
        <td class="name9"><%= table9_1 %></td>
        <td class="allseat9"><%= table9_2 %></td>
        <td class="useseat9"><%= table9_3 %></td>
        <td class="residualseat9"><%= table9_4 %></td>
    </tr>
    </tbody>
</table>
</body>
</html>
