<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" id="viewport" content="width=device-width, height=device-height, user-scalable=no" />
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/materialsidebar.min.js"></script>
  <script src="/javascripts/webslider.js"></script>
  <link rel="stylesheet" href="stylesheets/frame.css">
  <title>
    frame
  </title>
  <style media="screen">
    .menupan {
      
      width: 70%;
      margin-top: 0.5rem;
      padding: 0px;
      padding-top: 2.56rem;
      font-size: 2rem;
      display: inline-block;
      height: 5rem;
      vertical-align: middle;

      /*background-color: rgba(12, 80, 160, 0.6);*/

      border-width: medium;
      border-bottom: groove;

      border-color: rgba(12, 80, 160, 0.7);
    }

    .menupan:hover {

      background-color: rgba(12, 80, 160, 0.2);
    }

    .wrapper {

      text-align: center;

    }

    .imgdiv {
      height: 70%;
    }

    .foodinfo {}

    .foodcard {
      overflow: hidden;
      width: 0;
      height: 60%;
      position: fixed;
      top: 20%;
      right: 0;
      transition: 0.3s;
      float: right;
      background-color: rgba(255, 255, 255, 0.8);



    }

    .foodimg {
      max-width: 100%;
      max-height: 100%
    }

    <% for(i=1;
    i < restdata.length;
    i++) {
      %>#menu<%=i%>:hover #card<%=i%> {
        width: 20rem;
        border-style: solid;
      }
      <%
    }

    %>
  </style>
</head>

<body>

  <!-- Toolbar -->
  <div class="top-bar">
    <div id="open-sb">
      <img src="img/menu_button.png" alt="menu-button" align="left">
    </div>
    <div class="menu-name">
      제대로 가자
    </div>
  </div>

  <!-- Slidebar -->
  <section class="sidebar">
    <div class="menu-slide" align="left">
      <ul>
        <a href="/">
          <li class="home">홈</li>
        </a>
        <a href="#">
          <li class="bus">순환버스</li>
        </a>
        <a href="haksa">
          <li class="schedule">학사일정</li>
        </a>
        <a href="food_sort">
          <li class="food">뭐먹을까</li>
        </a>
        <a href="#">
          <li class="library">중도좌석</li>
        </a>
        <a href="#">
          <li class="book">도서검색</li>
        </a>
      </ul>
    </div>
  </section>
  <div class="wrapper">
<br>
<br>
    <% for(i=1; i < restdata.length; i++) { %>
      <div class="menupan" id="menu<%=i%>">
        <%= restdata[i].name %>


          <div class="foodcard" id="card<%=i%>">
            <div class="imgdiv">
              <img src="<%= restdata[i].images %>" class="foodimg">
            </div>
            <div class="foodinfo">
              <%= restdata[i].tel %>
            </div>
            <div class="foodinfo">
              <%= restdata[i].name %>
            </div>


          </div>

      </div>
      <%}%>
  </div>




</body>

</html>
